
		h1{
		
		font-family: 'Monoton';
		font-size: 50px;
		
		}

		.steps{
			
			font-family: 'Pacifico';
		
		}
		.wrapper{
		}

		#catList{	
			float: left;
			margin: 20px;
   	   font-family: 'Berkshire Swash';font-size: 22px;
		}
		#catViewer{
			width: 400px;
			height: 400px;
			float: left;
			 border: 10px solid transparent;
  		    padding: 15px;
   		 -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
   		 -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
   		 border-image: url(border.png) 30 round;
		}
		
		img{
			max-height: 250px;
			max-width: 250px;
		
		}
		
		iframe{
		float: right;
		}
		
	li {
	
	}
	
